exportPattern("^[^\\.]")
importFrom(graphics, image)
importFrom(MASS, hubers, rlm, mvrnorm, ginv, cov.rob, cov.mcd, cov.mve)
importFrom(numDeriv, grad)
importFrom(robustbase, covGK, covOGK, covMcd, scaleTau2, s_Qn, s_IQR, Qn, Sn)
importFrom("grDevices", "dev.interactive", "devAskNewPage",
             "terrain.colors")
importFrom("graphics", "abline", "arrows", "axis", "barplot", "box",
             "boxplot", "hist", "layout", "lcm", "lines", "mtext", "par",
             "plot", "plot.new", "plot.window", "points", "segments",
             "strheight", "text", "title")
importFrom("stats", "aggregate", "as.formula", "ave", "coef", "cor",
             "cov", "dbeta", "density", "deriv", "dnorm", "integrate",
             "lm", "mad", "median", "na.omit", "optimize", "p.adjust",
             "pbeta", "pchisq", "pnorm", "qbeta", "qchisq", "qf",
             "qnorm", "qqline", "qqnorm", "qt", "rbeta", "rchisq",
             "rnorm", "runif", "sd", "terms", "uniroot", "var")
importFrom("utils", "combn", "getS3method", "stack")

